body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Slideshow Button */
#slideshow {
  margin-top: 40px;
  margin-left: 20px;
}

/* Logo Icon */
h3.muted > img {
  margin-top: -5px;
}

h2 > img {
  margin-bottom: 6px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}