#picture { 
  position      : relative;
  top           : 20px;
  width         : 1000px;
  height        : 685px;
  margin        : 0px auto;
  background    : #FFF url('../img/tsog1000.png');
  overflow      : hidden;
}  

#picture > a.overlay {
  position      : absolute;
  padding       : 5px;
  text-align    : left;
  overflow      : hidden;

  background: transparent url(../img/note/note-overlay.png) no-repeat 0 0;

                 border: 5px solid #feb515;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
   -webkit-border-image: url(../img/note/border-image.png) 5 5 5 5 stretch;
      -moz-border-image: url(../img/note/border-image.png) 5 5 5 5 stretch;
}

#picture > a.overlay:hover {
  background    : none; 
  
}

/* General More Button */ 
#picture .more {
  position:absolute;
  width:50px;
  height:50px;
  background:url('../img/dim.png');
  border:1px solid #444;
  padding:5px;
  text-align:left;
  overflow:hidden;
}

#picture .more span {
  position:absolute;
  left:60px;
  width:160px;
  padding:15px 0 0 5px;
  color:#FFF;
  font:bold 13px Lucida Grande, Arial, sans-serif;
  text-shadow:#000 1px 1px 0px;
}

/* Item Specific More Button */
#couch { top: 215px; left: 465px; }
#lena { top: 330px; left: 782px; }


/* General Info Box */
#infobox{
  position:absolute;
  bottom:-200px;
  left: 500px;
  height:200px;
  width:300px;
  z-index:20;
  margin:0 0 -100px -150px;
  background:#FFF;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

#infobox a, #infobox a:visited{
  font:italic 16px Georgia, serif;
  color:#555;
  text-decoration:none;
}

#infobox a:hover{
  text-decoration:underline;
}

span.close{
  position:absolute;
  right:5px;
  top:5px;
}

#fade_bg{
  position:absolute;
  z-index:15;
  width:100%;
  height:100%;
  background:url('../img/dim.png');
  display:none;
}